@import url(https://fonts.googleapis.com/css?family=Russo+One);

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.stage--world {
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    border: 0;
}

.stage--info {
    width: 100%;
    height: 20%;
    margin: -4px 0px -4px 0px;
    padding: 0;
}
